@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Omnes";
    src: url("/fonts/Omnes/omnes-regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Omnes";
    src: url("/fonts/Omnes/Omnes-Hairline.otf");
    font-style: italic;
}

@font-face{
    font-family: "Omnes";
    src: url("/fonts/Omnes/Omnes-Thin.otf");
    font-weight: lighter;
}

@font-face{
    font-family: "Omnes";
    src: url("/fonts/Omnes/omnes-semibold.ttf");
    font-weight: bold;
}

@font-face{
    font-family: "Omnes";
    src: url("/fonts/Omnes/Omnes-Bold.otf");
    font-weight: bolder;
}

@font-face {
    font-family: "Locator";
    src: url("/fonts/Locator/LOCATODB.OTF");
}

html {
    font-family: "Omnes";
    font-weight: normal;
}

h1{
    font-family: "Locator" ;
}

h1, li, p, label, button{
    color: var(--gray);
}

h1, h2, h3, h4{
    color: #0db14c;
    font-weight: bolder;
}

